<a href="https://colab.research.google.com/github/mburu-mwangi/Week-4-IP/blob/main/Moringa_Data_Science_Prep_W4_Independent_Project_2021_08_Alfonce_Mwangi_PythonNotebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Week 4 IP requirements as follows:

1. Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

2. What is the most popular hour for returning cars?

3. What station is the most popular?
Overall?

4. At the most popular picking hour?

5. What postal code is the most popular for picking up Blue cars?

Does the most popular station belong to that postal code?

Overall?

At the most popular picking hour?

6. Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars?

In [3]:
# importing pandas library
import pandas as pd
# improting numpy library
import numpy as np

## 1. Loading the data

In [6]:
df_autolib=pd.read_csv('/content/Autolib_dataset (2).csv')
df_autolib.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

## 2. Data Cleaning