<a href="https://colab.research.google.com/github/mburu-mwangi/Week-4-IP/blob/main/Moringa_Data_Science_Prep_W4_Independent_Project_2021_08_Alfonce_Mwangi_PythonNotebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Week 4 IP requirements as follows:

1. Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

2. What is the most popular hour for returning cars?

3. What station is the most popular?
Overall?

4. At the most popular picking hour?

5. What postal code is the most popular for picking up Blue cars?

Does the most popular station belong to that postal code?

Overall?

At the most popular picking hour?

6. Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars?

In [ ]:
# importing pandas library
import pandas as pd
# improting numpy library
import numpy as np

## 1. Loading the data

In [ ]:
df_autolib=pd.read_csv('/content/Autolib_dataset (2).csv')
df_autolib.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

## 2. Data Cleaning

In [ ]:
#checking for duplicates
df_autolib.duplicated().sum()

# There are no duplicates in the data

0

In [ ]:
# checking for missing data
df_autolib.isnull().sum()

Address                   0
Cars                      0
Bluecar counter           0
Utilib counter            0
Utilib 1.4 counter        0
Charge Slots              0
Charging Status           0
City                      0
Displayed comment      4889
ID                        0
Kind                      0
Geo point                 0
Postal code               0
Public name               0
Rental status             0
Scheduled at           4953
Slots                     0
Station type              0
Status                    0
Subscription status       0
year                      0
month                     0
day                       0
hour                      0
minute                    0
dtype: int64

In [ ]:
# getting the data info
df_autolib.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [ ]:
# creating the column 'date' and converting the type to datetime 
# as well as merging the columns: 'month','day','year','hour','minute'
df_autolib['date']=pd.to_datetime(df_autolib[['month','day','year','hour', 'minute']])

In [ ]:
df_autolib.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
 25  date                 5000 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(12), object(13)
memory usage: 1015.8+ KB

In [ ]:
df_autolib.head()

                              Address  Cars  ...  minute                date
0                 2 Avenue de Suffren     0  ...      43 2018-04-08 11:43:00
1           145 Rue Raymond Losserand     6  ...      24 2018-04-06 07:24:00
2    2 Avenue John Fitzgerald Kennedy     3  ...      14 2018-04-03 20:14:00
3              51 Rue EugÃ¨ne OudinÃ©     3  ...      37 2018-04-04 04:37:00
4  6 avenue de la Porte de Champerret     3  ...      23 2018-04-08 17:23:00

[5 rows x 26 columns]

In [ ]:
# Looking for un operational stations
df_autolib_operational =df_autolib[df_autolib['Rental status']== 'operational']
# Displaying them
df_autolib_operational

                                 Address  Cars  ...  minute                date
0                    2 Avenue de Suffren     0  ...      43 2018-04-08 11:43:00
1              145 Rue Raymond Losserand     6  ...      24 2018-04-06 07:24:00
2       2 Avenue John Fitzgerald Kennedy     3  ...      14 2018-04-03 20:14:00
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...      37 2018-04-04 04:37:00
4     6 avenue de la Porte de Champerret     3  ...      23 2018-04-08 17:23:00
...                                  ...   ...  ...     ...                 ...
4995                 8 avenue MÃ©nelotte     2  ...      26 2018-04-06 11:26:00
4996                   37 rue de Dantzig     4  ...      56 2018-04-04 16:56:00
4997                      142 rue du Bac     1  ...       1 2018-04-01 07:01:00
4998         2 avenue du Val de Fontenay     2  ...      27 2018-04-04 17:27:00
4999                 5 Rue Henry Brisson     4  ...       2 2018-04-08 10:02:00

[4618 rows x 26 columns]

## 3. Analysis

In [46]:
# checking for the most popular hour for picking the bluecar

df_day=df_autolib_operational[df_autolib_operational['hour']<19]
df_day['hour'].mode()

0    6
dtype: int64

In [ ]:
# selecting the most popular station
df_autolib_operational['ID'].value_counts()[df_autolib_operational['ID'].value_counts() == df_autolib_operational['ID'].value_counts().max()]

paris-portedemontrouge-8    13
Name: ID, dtype: int64

In [39]:
# selecting the most common postal code
print(df_autolib_operational['Postal code'].mode())

0    75015
dtype: int64

In [40]:
# most common picking hour
print(df_autolib_operational['hour'].mode())

0    21
dtype: int64